@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

button, a{
    font-family: 'Red Hat Display',
                sans-serif;
}

h1{
    font-size: 2.5rem;
}

p, b, button{
    font-size: 1.5rem;
}

a{
    font-size: 1.2rem;
}


:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%); 
    --Desaturated-blue: hsl(224, 23%, 55%); 
    --Dark-blue: hsl(223, 47%, 23%);
}

.container{
    width: 100%;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw;
    background-color: var(--Pale-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: 55rem;
    background-color: var(--Very-pale-blue);
    gap: 3rem;
    border-radius: 2rem;
    box-shadow: 0px 20px 20px hsla(244.9, 74.7%, 52%, 0.2);;
}

.card-img img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
}

.card-details{
    width: 80%;
    text-align: center;
}

.card-details p{
    color: var(--Desaturated-blue);
}

.annual-plan{
    display: flex;
    align-items: center;
    background-color: hsla(224.5, 100%, 93.9%, 0.49);
    border-radius: 1rem;
    padding: 1rem;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.annual-plan:hover{
    transform: scale(1.1);
}

.annual-plan-sub{
    display: flex;
    gap: 1rem;
}

b{
    position: relative;
}

b::after{
    content: "$59.99/year";
    font-size: 1.4rem;
    color: var(--Desaturated-blue);
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 0;
}

.annual-plan-sub img{
    width: 100%;
}

span{
    transition: .4s linear;
}

span:hover{
    transform: rotate(360deg);
}

.btn{
    width: 100%;
    height: 4rem;
    border: none;
    color: #fff;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    box-shadow: 0px 10px 5px hsla(222.5, 47%, 22.9%, 0.09);
    background-color: var(--Bright-blue);
    transition: .3s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

.bottom-area a{
    font-weight: 900;
    color: var(--Desaturated-blue);
    text-decoration: none;
    transition: .3s linear;
}

.bottom-area a:hover{
    border-radius: 1rem;
    padding: 1rem;
    background-color: red;
    color: #fff;
}

@media (max-width: 450px){

    .container{
        background-image: url(images/pattern-background-mobile.svg);
        background-size: 100%;
        background-position: top;
    }

    .main-card{
        scale: .8;
    }
}








